
.mg-b-5{
margin-bottom: 5px;
}
.mg-b-10{
    margin-bottom: 10px;
}
.mg-b-20{
    margin-bottom: 20px;
}
.mg-b-120{
    margin-bottom: 120px;
}
.text-uppder{
    text-transform: uppercase;
}
.txt-capital{
    text-transform: capitalize;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.flow-hidden{
    overflow: hidden;
}
